<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Results</title>
    <style>
        .play-again-button {
            display: inline-block;
            background-color: #217AFF;
            width: 303px;
            height: 119px;
            box-shadow: 0px 4px 4px 0px #000;
            font-size: 40px;
            color: white; /* Corrected from font-style */
            text-align: center;
            line-height: 119px; /* Center text vertically */
            text-decoration: none; /* Remove underline */
            margin: 40px; /* Space between buttons */
            border-radius: 8px;
        }

        .back-to-menu-button {
            display: inline-block;
            background-color: #FF2121;
            width: 303px;
            height: 119px;
            box-shadow: 0px 4px 4px 0px #000;
            font-size: 40px;
            color: white; /* Corrected from font-style */
            text-align: center;
            line-height: 119px; /* Center text vertically */
            text-decoration: none; /* Remove underline */
            margin: 40px; /* Space between buttons */
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <h1 style="font-size: 85px; color: #000; margin: 150px;"><center>DRAW...</center></h1>
    <center>
		<a class="play-again-button" asp-controller="Home" asp-action="Play">Play Again</a>
        <a class="back-to-menu-button" asp-controller="Home" asp-action="Index">Return To Home</a>
    </center>
</body>
</html>
