@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SP-14-Green-ChessAI</h1>
    <p>Senior Project Chess AI </p>
    <p>Allen Smith, Ashton Miller, Matthew Corvacchioli, Joshua Peeples, Dylan Luong</p>
</div>
