<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victory Results</title>
    <style>
        .play-again-buttton{
            display: inline-block;
            background-color: #217AFF;
            width: 303px;
            height: 119px;
            box-shadow: 0px 4px 4px 0px #000;
            font-size: 40px;
            font-style: white;
            }
        .back-to-menu-button{
            display: inline-block;
            background-color: #FF2121;
            width: 303px;
            height: 119px;
            box-shadow: 0px 4px 4px 0px #000;
            font-size: 40px;
            font-style: white;
            }
        .exit-button{
            display: inline-block;
            background-color: #FF2121;
            width: 303px;
            height: 119px;
            box-shadow: 0px 4px 4px 0px #000;
            font-size: 40px;
            font-style: #000;
            }
    </style>
</head>
<body>
    <h1{font-size: 85px} style="color: #000;"><center>VICTORY</center></h1>

    <center>
    <form action = "Play.cshtml">
    <button type = "submit" class = "play-again-buttton" id = "play-again-buttton">Play Again</button>
    </form>
    
    <form action = "Index.cshtml">
    <button type = "submit" class = "back-to-menu-button" id = "back-to-menu-button">Back to Menu</button>
    </form>

    <!-- <form action = ""></form>
    <button type = "button">EXIT</button> -->
    </center>

</body>